$h2-font:'Open Sans', sans-serif;
$h1-font: 'Roboto', sans-serif;
$h2-size: 50px;
$titulos-color: #F5B041;


$botonStyle:(color1: #16C9BE , color2: #F5B041  , colorHover: aliceblue , borde: #F5B041 solid );