$h2-font:'Open Sans', sans-serif;
$h1-font: 'Roboto', sans-serif;
$h2-size: 40px;
$titulos-naranja: #F5B041;
$titulos-celeste:#16C9BE;


$botonStyle:(color1: #16C9BE , color2: #F5B041  , colorHover: aliceblue , borde: #F5B041 solid );